BOT_TOKEN=<token> # Discord bot token
WS_HOST=<hostname> # If skipped, connects to paceman.gg's websocket. You can run the ActiveRunsService locally (With modifications. I can send you a patch file that you can apply onto ARS's main branch and it works as is. It is what I use locally).
WS_URL=<url> # Same as above
API_AUTH_KEY=<key> # This is used to auth with the websocket backend.
WEBHOOK_URL=<url> # This is where the error logs will go as discord messages
WEBHOOK_NAME=<name> # This is the name of the webhook that will be used to send logs to discord.
LOG_LEVEL=<level> # This is the log level. It can be one of the following: debug, info, warn, error
